.entlada {
  width: 70vw;
  height: 60vh;
  outline: none;
  border-radius: 8px;
  border: 8px solid #ED1B24;
  resize: none;
  display: block;
  margin: auto;
  background-color: rgba(255, 255, 255, .2);
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Sora', sans-serif;
  padding: 1rem;
  box-sizing: border-box;
}
